body {
	animation-name: gradientBackground;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


a {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}


.widget-container {
	background-color: white;
	margin-bottom: 15px;
}

.site-container {
	max-width: 960px;
	margin: 0 auto;
}

.footer {
	width: 100%;
	background-color: white;
}

.background-toggle {
	width: 75px;
	border: 2px solid black;
	border-radius: 30px;
	background-color: darkgrey;
}

.toggle-button {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: lightgrey;
	border: 1px solid grey;
}



/**
 * Theme Settings
*/

.theme-colors-wrap {
	position: absolute;
	top: 10px;
	right: 10px;
}

.theme-colors {
	display: none;
	list-style: none;
	margin: 0;
	width: 30px;
	float: right;
	box-shadow: 7px 7px 13px #333;
}

.theme-colors-link {
	margin-bottom: 5px;
	padding: 3px 5px;
	background: lightgrey;
	border-radius: 3px;
	color: grey;
	font-size: 14px;
}

.theme-colors-link,
.theme-color {
	cursor: pointer;
}

.theme-color {
	padding: 10px 5px;
}

/** Theme color options */
#first { background-color: #5AC8ED; }
#second { background-color: #ED7F5A; }
#third { background-color: #C85AED; }
#fourth { background-color: #7FED5A; }
#fifth { background-color: #FFFFFF; }
#sixth {
	animation-name: gradientBackground;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@keyframes gradientBackground {
	0% { background-color: #D6F5FF; }
	25% { background-color: #FCFCD9; }
	35% { background-color: #C8FAD2; }
	70% { background-color: #CCCDFF; }
	80% { background-color: #FCCCD8; }
	100% { background-color: #D6F5FF; }
}











