.site-container {
	max-width: 960px;
	margin: 0 auto;
}

a {
	color: black;
}

ul {
	margin: 0;
	padding: 0;
}

/**
 * Theme Settings
*/

.theme-colors-wrap {
	position: absolute;
	top: 10px;
	right: 10px;
}

.theme-colors {
	display: none;
	list-style: none;
	margin: 0;
	width: 30px;
	float: right;
	box-shadow: 7px 7px 13px #333;
}

.theme-colors-link {
	margin-bottom: 5px;
	padding: 3px 5px;
	background: lightgrey;
	border-radius: 3px;
	color: grey;
	font-size: 14px;
}

.theme-colors-link,
.theme-color {
	cursor: pointer;
}

.theme-color {
	padding: 10px 5px;
}

/** Theme color options */
#first { background-color: #5AC8ED; }
#second { background-color: #ED7F5A; }
#third { background-color: #C85AED; }
#fourth { background-color: #7FED5A; }
#fifth { background-color: #FFFFFF; }